
.merriweather-google-font {
  font-family: "Merriweather", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
main{
    width: 1440px;
    position: relative;
}
/* header start */
.navbar-banner{
    width: 1440px;
    height: 698px;
    background-image: url(../Assets/Hero-bg.png);
    background-position: 100%;
}
nav{
    width: 1140px;
    height: 151px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav input[type="button"]{
    width: 132px;
    height: 48px;
}
.banner{
    width: 905px;
    height: 237px;
    text-align: center;
    margin: auto;
    margin-top: 158px;
}
.banner h1{
    font-size: 65px;
    font-weight: bold;
    color: rgba(37, 36, 50, 1);
}
.banner input[type="button"]{
    width: 174px;
    height: 48px;
}
/* header end */
/* action-card */
.action-card{
    width: 1140px;
    height: 328px;
    display: flex;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    margin-top: 116px;
}
.action-text-button{
    width: 517px;
    height: 203px;
}
.action-text-button h3{
    font-size: 42px;
    font-weight: bold;
    color: rgba(37, 36, 50, 1);
}  
.action-text-button input{
    width: 229px;
    height: 48px;
} 
.action-img img{
    border-radius: 20px;
}

/* action-card */
/* productive-user */
.productive-user{
    width: 1140px;
    height: 306px;
    margin: auto;
    margin-top: 116px;
    background-image: linear-gradient(to bottom, blue -350%,#ffffff);
    border-radius: 10px;
border: 1px solid rgb(255, 255, 255);
}
.productive-user-item{
    width: 856px;
    height: 206px;
    margin: auto;
    margin: 50px auto;
   
}
.productive-user-title {
    font-size: 38px;
    font-weight: bold;
    color: rgba(37, 36, 50, 1);
    text-align: center;
    margin-bottom: -40px;
    
}
.productive-user-info{
    display: flex;
    justify-content:space-between;
    text-align: center;
}
.productive-user-info h2{
    font-size: 40px;
    font-weight: bold;
    color: rgba(78, 71, 255, 1);
    margin-bottom: 0px;

}
/* productive-user */
/* review */
.review{
    width: 1140px;
    height: 342px;
    margin: auto;
    margin-top: 137px;
}
.review-title{
    text-align: center;
    font-size: 42px;
    font-weight: bold;
    color: rgba(37, 36, 50, 1);
}
.review-user-cards{
    width: 1140px;
    height: 234px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    
}
.review-user-card{
    height: 210px;
    width: 366px;
    padding: 20px;
    border-radius: 10px;
    background-color: #d4cdcd9d;
}
.review-title-text{
    width: 318px;
    height: 81px;
}
.review-title-text p{
    color: rgba(30, 30, 30, 1);
}
.reviewer{
    width: 318px;
    height: 46px;
    display: flex;
    gap: 12px;
    margin-top: 12px;
}
.reviewer-name{
    width: 266px;
    height: 46px;
    margin: 0px;
}
.reviewer-name p{
    margin-bottom: -20px;
    color: rgba(0, 0, 0, 0.5);
}
/* review */
/* focus */
.focus{
    width: 1140px;
    height: 696px;
    margin: auto;
    margin-top: 116px;
   background-color: aliceblue;
}
.focus-items{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.focus-items h2{
    font-size: 50px;
    font-weight: bold;
    line-height: 120%;
    color: #000;
    margin-top: 70px;
}
.focus-items p{
    margin-top: -14px;
    color: rgba(37, 36, 50, 0.5);
}
.focus-items input{
    width: 195px;
    height: 48px;
    margin-bottom: 20px;
}
.focus-items img{
    border-radius: 30px;
}
/* focus */
/* newsletter */
.newsletter{
    width: 1140px;
    height: 632px;
    margin: auto;
    margin-top: 92px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 20px;
    background-color: rgba(168, 197, 197, 0.452);
}
.newsletter-title h2{
    font-size: 97px;
    font-weight: bold;
    line-height: 120%;
    color: #000000;
    margin-left: 10px;
}
.newsletter-form form{
    display: flex;
    flex-direction: column;
    width: 497px;
    height: 490px;
    margin-right: 40px;
    
}
.newsletter-form form input{
    height: 70px;
    border: none;
    border-radius: 10px;
    margin-bottom: 10px;
    
}
.newsletter-form form label{
    height: 22px;
    font-size: 18px;
    line-height: 120%;
    margin-bottom: 10px;
}
.newsletter-form form textarea{
    border: none;
   border-radius: 10px;
   margin-bottom: 10px;
}
/* newsletter */
/* footer */
footer{
    width: 1440px;
    height: 428px;
    margin-top: 20px;
   
}
.footer{
    width: 531px;
    height: 221px;
    margin: auto auto;
   margin-top: 104px;
    text-align: center;
    border: 1px solid #ffffff;
}
.footer h1{
    font-size: 100px;
    font-weight: black;
    color: rgba(78, 71, 255, 1);
}
.footer p{
    color: rgba(137, 135, 161, 1);
    margin-top: -76px;
}
.footer ul li a{
    text-decoration: none;
    color: rgba(137, 135, 161, 1);
}
.footer ul li{
    list-style-type: none;
}
.footer ul{
    display: flex;
    justify-content: space-around;
}
/* footer */
/* share style */
.logo-text-color{
   color:  rgba(78, 71, 255, 1);
}
.button-color-radius{
    background-color: rgba(78, 71, 255, 1);
    color: #ffffff;
    border: none;
    border-radius: 6px;
}
.all-p-h-color{
    font-size: 24px;
    line-height: 30px;
    color: rgba(37, 36, 50, 0.5);
}
.button-color-radius:hover{
    background-color: aqua;
}
.footer ul li a:hover{
    color: rgba(78, 71, 255, 1);
    font-size: 25px;
}
/* share style */