
.merriweather-google-font {
  font-family: "Merriweather", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}


/* header start */
.navbar-banner{
    width: 1440px;
    height: 698px;
}
nav{
    width: 1140px;
    height: 151px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav input[type="button"]{
    width: 132px;
    height: 48px;
}
.banner{
    width: 905px;
    height: 237px;
    text-align: center;
    margin: auto;
    margin-top: 158px;
}
.banner h1{
    font-size: 65px;
    font-weight: bold;
    color: rgba(37, 36, 50, 1);
}
.banner input[type="button"]{
    width: 174px;
    height: 48px;
}
/* header end */
/* action-card */
.action-card{
    width: 1140px;
    height: 328px;
    display: flex;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    margin-top: 116px;
}
.action-text-button{
    width: 517px;
    height: 203px;
}
.action-text-button h3{
    font-size: 42px;
    font-weight: bold;
    color: rgba(37, 36, 50, 1);
}  
.action-text-button input{
    width: 229px;
    height: 48px;
} 
.action-img img{
    border-radius: 20px;
}

/* action-card */
/* productive-user */
.productive-user{
    width: 1140px;
    height: 306px;
    margin: auto;
    margin-top: 116px;
}
.productive-user-item{
    width: 856px;
    height: 206px;
    margin: auto;
}
.productive-user-title {
    font-size: 38px;
    font-weight: bold;
    color: rgba(37, 36, 50, 1);
    text-align: center;
}
.productive-user-info{
    display: flex;
    justify-content:space-between;
    text-align: center;
}
.productive-user-info h2{
    font-size: 80px;
    font-weight: bold;
    color: rgba(78, 71, 255, 1);
    margin-bottom: 0px;

}
/* productive-user */
/* share style */
.logo-text-color{
   color:  rgba(78, 71, 255, 1);
}
.button-color-radius{
    background-color: rgba(78, 71, 255, 1);
    border: none;
    border-radius: 6px;
}
.all-p-h-color{
    font-size: 24px;
    line-height: 30px;
    color: rgba(37, 36, 50, 0.5);
}
/* share style */